@import url("https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&family=Rubik+Distressed&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik Distressed", cursive;
  font-family: Jura;
}
body .container {
  width: 100vw;
  height: auto;
}
body .container .logInCreateAccount {
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(2, 1fraction);
  grid-template-rows: repeat(1, 1fraction);
  align-items: center;
  z-index: 9;
}
body .container .logInCreateAccount .tags {
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
}
body .container .logInCreateAccount .tags #navBarMenu {
  display: none;
}
body .container .logInCreateAccount .tags #navBarMenu:checked ~ .formCreateAccount {
  transform: translate(0%);
}
body .container .logInCreateAccount .tags #navBarMenu:checked ~ .formLogIn {
  transform: translate(-100%);
  z-index: 10;
}
body .container .logInCreateAccount .tags .formCreateAccount {
  width: 50vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  background-color: #ffffff;
  margin: 0px auto;
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-100%);
  transition: transform 0.3s ease-in-out;
  z-index: 1;
}
body .container .logInCreateAccount .tags .formCreateAccount .tag {
  position: fixed;
  /* top:136px; */
  top: -10px;
  right: -45px;
  transform: rotate(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  z-index: 9;
}
body .container .logInCreateAccount .tags .formCreateAccount .tag .tagCreateAccount {
  font-size: 0.8rem;
  font-family: Jura;
  color: #ffffff;
  text-align: center;
  writing-mode: vertical-rl;
  text-orientation: right;
  transform: rotate(180deg);
  font-weight: 600;
  cursor: pointer;
  background-color: #000000;
  padding: 20px 15px;
  transition: all 0.3s ease;
}
body .container .logInCreateAccount .tags .formLogIn {
  width: 50vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  background-color: #ffffff;
  margin: 0px auto;
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(0%);
  transition: transform 0.3s ease-in-out;
  z-index: 1;
}
body .container .logInCreateAccount .tags .formLogIn .tag {
  position: fixed;
  /* top:136px; */
  top: -10px;
  right: -45px;
  transform: rotate(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  z-index: 9;
}
body .container .logInCreateAccount .tags .formLogIn .tag .tagLogIn {
  font-size: 0.8rem;
  font-family: Jura;
  color: #ffffff;
  text-align: center;
  writing-mode: vertical-rl;
  text-orientation: right;
  transform: rotate(180deg);
  font-weight: 600;
  cursor: pointer;
  background-color: #000000;
  padding: 20px 15px;
  transition: all 0.3s ease;
}
body .container .logInCreateAccount .tags .formLogIn legend {
  font-size: 3rem;
  color: #BC2327;
  font-family: "Rubik Distressed", cursive;
  text-align: center;
}
body .container .logInCreateAccount .tags .formLogIn .formFloating {
  width: 50%;
  color: #000000;
  font-size: 0.9rem;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px auto;
}
body .container .logInCreateAccount .tags .formLogIn .formFloating .formControl {
  width: 100%;
  color: #000000;
  font-size: 0.8rem;
  font-weight: 400;
  padding: 10px 0px 10px 10px;
  border-top: transparent;
  border-right: transparent;
  border-left: transparent;
  border-bottom: 1px solid #9c9c9c;
}
body .container .logInCreateAccount .tags .formLogIn .ctaToSignIn {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  gap: 30px;
}
body .container .logInCreateAccount .tags .formLogIn .ctaToSignIn .btnSignIn {
  width: 50%;
  font-size: 1rem;
  font-weight: 700;
  color: #ffffff;
  font-family: Jura;
  padding: 10px;
  background-color: #000000;
  border: 1px solid #000000;
  transition: all 0.3s ease-in-out;
}
body .container .logInCreateAccount .tags .formLogIn .ctaToSignIn .btnSignIn:hover {
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #000000;
}
body .container .logInCreateAccount .tags .formLogIn .ctaToSignIn p {
  color: #2e2e2e;
  font-size: 0.8rem;
  font-family: Jura;
  font-weight: 500;
  margin-bottom: -15px;
}
body .container .logInCreateAccount .tags .formLogIn label .ctaFormCreateAccount {
  font-size: 0.8rem;
  font-weight: 700;
  color: #2e2e2e;
  font-family: Jura;
  text-decoration: none;
}
body .container .logInCreateAccount .tags .formLogIn label .ctaFormCreateAccount:hover {
  text-decoration: underline;
  color: #BC2327;
}
body .container .logInCreateAccount .tags .formCreateAccount legend {
  font-size: 3rem;
  color: #BC2327;
  font-family: "Rubik Distressed", cursive;
  text-align: center;
}
body .container .logInCreateAccount .tags .formCreateAccount .formFloating {
  width: 50%;
  color: #000000;
  font-size: 0.9rem;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px auto;
}
body .container .logInCreateAccount .tags .formCreateAccount .formFloating .formControl {
  width: 100%;
  color: #000000;
  font-size: 0.8rem;
  font-weight: 400;
  padding: 10px 0px 10px 10px;
  border-top: transparent;
  border-right: transparent;
  border-left: transparent;
  border-bottom: 1px solid #9c9c9c;
}
body .container .logInCreateAccount .tags .formCreateAccount .ctaToCreateAccount {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  gap: 30px;
}
body .container .logInCreateAccount .tags .formCreateAccount .ctaToCreateAccount .btnCreateAccount {
  width: 50%;
  font-size: 1rem;
  font-weight: 700;
  color: #ffffff;
  font-family: Jura;
  padding: 10px;
  background-color: #000000;
  border: 1px solid #000000;
  transition: all 0.3s ease-in-out;
}
body .container .logInCreateAccount .tags .formCreateAccount .ctaToCreateAccount .btnCreateAccount:hover {
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #000000;
}
body .container .logInCreateAccount .tags .formCreateAccount .ctaToCreateAccount p {
  color: #2e2e2e;
  font-size: 0.8rem;
  font-family: Jura;
  font-weight: 500;
  margin-bottom: -15px;
}
body .container .logInCreateAccount .tags .formCreateAccount label .ctaFormLogIn {
  font-size: 0.8rem;
  font-weight: 700;
  color: #2e2e2e;
  font-family: Jura;
  text-decoration: none;
}
body .container .logInCreateAccount .tags .formCreateAccount label .ctaFormLogIn:hover {
  text-decoration: underline;
  color: #BC2327;
}
body .container .logInCreateAccount .bannerCreateAccount {
  width: 50%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
}
body .container .logInCreateAccount .bannerCreateAccount .background {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
  animation: background 7s linear infinite alternate-reverse;
}
@keyframes background {
  0% {
    filter: grayscale(0%);
  }
  25% {
    filter: grayscale(25%);
  }
  50% {
    filter: grayscale(50%);
  }
  75% {
    filter: grayscale(75%);
  }
  100% {
    filter: grayscale(100%);
  }
  100% {
    filter: grayscale(100%);
  }
  75% {
    filter: grayscale(75%);
  }
  50% {
    filter: grayscale(50%);
  }
  25% {
    filter: grayscale(25%);
  }
  0% {
    filter: grayscale(0%);
  }
}

.headerSignIn {
  width: 20vw;
  height: 100vh;
}
.headerSignIn label .drawerIcon {
  width: 40px;
  height: 40px;
  cursor: pointer;
  position: fixed;
  top: 10px;
  right: 20px;
  z-index: 10;
  border-radius: 50%;
  padding: 5px;
  background-color: #000000;
  transition: transform 0.3s ease-in-out;
  animation: drawer 2s linear infinite;
}
.headerSignIn label .drawerIcon:hover {
  transform: translateY(0%) scale(105%);
  filter: drop-shadow(0 0 6px #BC2327);
}
@keyframes drawer {
  0% {
    filter: drop-shadow(0 0 2px #BC2327);
    transform: scale(100%);
  }
  100% {
    filter: drop-shadow(0 0 6px #BC2327);
    transform: scale(103%);
  }
}
.headerSignIn #menuSide {
  display: flex;
}
.headerSignIn #menuSide:checked ~ .menuSide {
  transform: translate(-225%);
}
.headerSignIn .menuSide {
  width: 20vw;
  height: 100vh;
  position: fixed;
  top: 0%;
  left: 125%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #141414;
  overflow: hidden;
  box-shadow: 0 0 10px 6px #070707;
  z-index: 10;
  transform: translate(-105%);
  transition: 0.3s ease-in-out;
}
.headerSignIn .menuSide .top {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #181818;
  padding: 10px 10px 10px 30px;
}
.headerSignIn .menuSide .top .brand {
  width: 45px;
  order: 2;
}
.headerSignIn .menuSide .top label .close {
  width: 25px;
  cursor: pointer;
  transform: rotate(0deg);
  transition: all 0.3s ease-in-out;
}
.headerSignIn .menuSide .top label .close:hover {
  transform: rotate(90deg);
}
.headerSignIn .menuSide .menu {
  width: 100%;
}
.headerSignIn .menuSide .menu ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding-left: 0;
}
.headerSignIn .menuSide .menu ul li {
  width: 100%;
  list-style-type: none;
  cursor: pointer;
  background-color: #141414;
}
.headerSignIn .menuSide .menu ul li .link {
  display: block;
  width: inherit;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 100px;
  font-size: 1rem;
  font-family: Jura;
  color: #ffffff;
  font-weight: 600;
  text-decoration: none;
}
.headerSignIn .menuSide .menu ul li .link:hover {
  background-color: rgba(188, 35, 40, 0.3490196078);
}
.headerSignIn .menuSide .menu ul li .cartShop {
  width: 100%;
  cursor: pointer;
}
.headerSignIn .menuSide .menu ul li .cartShop .link {
  display: block;
  width: 100%;
  font-size: 1rem;
  font-family: Jura;
  color: #ffffff;
  font-weight: 600;
  margin: 0px auto 0px 0px;
  padding-bottom: 15px;
  border-bottom: 1px solid #6b6b6b;
  transition: all 0.3s ease;
}
.headerSignIn .menuSide .menu ul li .cartShop .link:hover {
  background-color: rgba(188, 35, 40, 0.3490196078);
}
.headerSignIn .menuSide .contactUs {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  background-color: #181818;
  padding-top: 10px;
}
.headerSignIn .menuSide .contactUs p {
  width: 100%;
  font-size: 1rem;
  font-family: Jura;
  color: #ffffff;
  font-weight: 600;
  padding-left: 30px;
  border-bottom: 1px solid #6b6b6b;
  padding-bottom: 15px;
}
.headerSignIn .menuSide .contactUs ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding-left: 30px;
  padding-right: 30px;
}
.headerSignIn .menuSide .contactUs ul li {
  display: block;
  list-style-type: none;
}
.headerSignIn .menuSide .contactUs ul li .item {
  text-decoration: none;
}
.headerSignIn .menuSide .contactUs ul li .item .itemSocial {
  width: 35px;
}

/*# sourceMappingURL=main.css.map */
