
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "Rubik Distressed", cursive;
    font-family: Jura;

    // Sign in

    .container {
        width: 100vw;
        height: auto;
        .logInCreateAccount {
            width: 100vw;
            display: grid;
            grid-template-columns: repeat(2, 1fraction);
            grid-template-rows: repeat(1, 1fraction);
            align-items: center;
            z-index: 9;
            .tags{
                width:100%;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                position: relative;
                #navBarMenu {
                    display: none;
                    &:checked ~ .formCreateAccount{
                        transform: translate(0%);
                    }
                    &:checked ~ .formLogIn{
                        transform: translate(-100%);
                        z-index: 10;
                    }
                }
                .formCreateAccount{
                    width: 50vw;
                    height: 100vh;
                    display:flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 15px;
                    background-color: #ffffff;
                    margin: 0px auto;
                    position:fixed;
                    top: 0;
                    left: 0;
                    transform: translate(-100%);
                    transition:transform 0.3s ease-in-out;
                    z-index: 1;
                    .tag{
                        position: fixed;
                        /* top:136px; */
                        top:-10px;
                        right:-45px;
                        transform: rotate(180deg);
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-decoration: none;
                        .tagCreateAccount{
                            font-size:0.8rem;
                            font-family: Jura;
                            color: #ffffff;
                            text-align: center;
                            writing-mode: vertical-rl;
                            text-orientation: right;
                            transform: rotate(180deg);
                            font-weight: 600;
                            cursor: pointer;
                            background-color: #000000;
                            padding: 20px 15px;
                            transition: all 0.3s ease;
                        }
                    }
                }
                .formLogIn{
                    width: 50vw;
                    height: 100vh;
                    display:flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 15px;
                    background-color: #ffffff;
                    margin: 0px auto;
                    position:fixed;
                    top: 0;
                    left: 0;
                    transform: translate(0%);
                    transition:transform 0.3s ease-in-out;
                    z-index: 1;
                    .tag{
                        position: fixed;
                        /* top:136px; */
                        top:-10px;
                        right:-45px;
                        transform: rotate(180deg);
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-decoration: none;
                        .tagLogIn{
                            font-size:0.8rem;
                            font-family: Jura;
                            color: #ffffff;
                            text-align: center;
                            writing-mode: vertical-rl;
                            text-orientation: right;
                            transform: rotate(180deg);
                            font-weight: 600;
                            cursor: pointer;
                            background-color: #000000;
                            padding: 20px 15px;
                            transition: all 0.3s ease;
                        }
                    }
                }
                .formLogIn {
                    legend{
                        font-size: 3rem;
                        color: #BC2327;
                        font-family: "Rubik Distressed", cursive;
                        text-align: center;
                    }
                    .formFloating{
                        width:50%;
                        color: #000000;
                        font-size: 0.9rem;
                        font-weight: 600;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: flex-start;
                        padding: 0px auto;
                        .formControl{
                            width:100%;
                            color: #000000;
                            font-size: 0.8rem;
                            font-weight: 400;
                            padding: 10px 0px 10px 10px;
                            border-top: transparent;
                            border-right: transparent;
                            border-left: transparent;
                            border-bottom: 1px solid #9c9c9c;
                        }
                    }
                    .ctaToSignIn {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        margin-top: 30px;
                        gap:30px;
                        .btnSignIn{
                            width: 50%;
                            font-size: 1rem;
                            font-weight: 700;
                            color: #ffffff;
                            font-family: Jura;
                            padding: 10px;
                            background-color: #000000;
                            border: 1px solid #000000;
                            transition: all 0.3s ease-in-out;
                            &:hover{
                                color: #000000;
                                background-color: #ffffff;
                                border: 1px solid #000000;
                            }
                        }
                        p{
                            color: #2e2e2e;
                            font-size: 0.8rem;
                            font-family: Jura;
                            font-weight: 500;
                            margin-bottom:-15px;
                        }
                    }
                    label {
                        .ctaFormCreateAccount{
                            font-size: 0.8rem;
                            font-weight: 700;
                            color: #2e2e2e;
                            font-family: Jura;
                            text-decoration: none;
                            &:hover{    text-decoration: underline;
                                color: #BC2327;
                            }
                        }
                    }
                }
                .formCreateAccount{
                    legend{
                        font-size: 3rem;
                        color: #BC2327;
                        font-family: "Rubik Distressed", cursive;
                        text-align: center;
                    }
                    .formFloating{
                        width:50%;
                        color: #000000;
                        font-size: 0.9rem;
                        font-weight: 600;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: flex-start;
                        padding: 0px auto;
                        .formControl{
                            width:100%;
                            color: #000000;
                            font-size: 0.8rem;
                            font-weight: 400;
                            padding: 10px 0px 10px 10px;
                            border-top: transparent;
                            border-right: transparent;
                            border-left: transparent;
                            border-bottom: 1px solid #9c9c9c;
                        }
                    }
                    .ctaToCreateAccount{
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        margin-top: 30px;
                        gap:30px;
                        .btnCreateAccount{
                            width: 50%;
                            font-size: 1rem;
                            font-weight: 700;
                            color: #ffffff;
                            font-family: Jura;
                            padding: 10px;
                            background-color: #000000;
                            border: 1px solid #000000;
                            transition: all 0.3s ease-in-out;
                            &:hover{
                                color: #000000;
                                background-color: #ffffff;
                                border: 1px solid #000000;
                            }
                        }
                        p{
                            color: #2e2e2e;
                            font-size: 0.8rem;
                            font-family: Jura;
                            font-weight: 500;
                            margin-bottom:-15px;
                        }
                    }
                    label {
                        .ctaFormLogIn{
                            font-size: 0.8rem;
                            font-weight: 700;
                            color: #2e2e2e;
                            font-family: Jura;
                            text-decoration: none;
                            &:hover{
                                text-decoration: underline;
                                color: #BC2327;
                            }
                        }
                    }
                }
            }
            .bannerCreateAccount{
                width:50%;
                height: 100%;
                position:fixed;
                top: 0;
                right:0;
                .background{
                    width:100%;
                    height: 100vh;
                    object-fit:cover;
                    transition: all 0.3s ease-in-out;
                    animation: background 7s linear infinite alternate-reverse;
                    @keyframes background {
                        0%{
                            filter: grayscale(0%);
                        }
                        25%{
                            filter: grayscale(25%);
                        }
                        50%{
                            filter: grayscale(50%);
                        }
                        75%{
                            filter: grayscale(75%);
                        }
                        100%{
                            filter: grayscale(100%);
                        }
                        100%{
                            filter: grayscale(100%);
                        }
                        75%{
                            filter: grayscale(75%);
                        }
                        50%{
                            filter: grayscale(50%);
                        }
                        25%{
                            filter: grayscale(25%);
                        }
                        0%{
                            filter: grayscale(0%);
                        }
                    }
                }
            }
        }
    }
}
